
<div class="container text-center">    
	<div class="row">
	  <div class="col-sm-3 well" >
			<!-- ASK USER IF THEY WANT TO ADD USER PROFILE -->
			<div name="profile" id="profile" class="well user" *ngIf="!profileImage" style="background-image: url('../../assets/images/user-default.png');">
			</div>

			<!-- User is set, so display it. -->
			<div class="well" *ngIf="profileImage">
			</div>

			<h4>{{ username }}</h4>
		
			<button type="button" class="btn btn-sm bt-info" (click)="editProfile()" [routerLink]="['/edit-profile/', id]">Edit Profile</button> 
			<br/>
			<br/>
			<!-- <input type="file" name="file" id="file" class="inputfile" *ngIf="!profileImage" (click)="image()" /> -->



		 
		<!-- ABOUT OR INTERESTS -->
		<div class="well">
		  <!-- <p><a href="#">Interests</a></p>
		  <p>
			<span class="label label-default">News</span>
			<span class="label label-primary">W3Schools</span>
			<span class="label label-success">Labels</span>
			<span class="label label-info">Football</span>
			<span class="label label-warning">Gaming</span>
			<span class="label label-danger">Friends</span>
		  </p> -->
		</div>
  
  
		<div class="alert alert-success fade in">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		  <p><strong>Ey!</strong></p>
		  People are looking at your profile. Find out who.
		</div>
  
		<!-- LINKS TOO OTHER PROFILES TWITTER, FACEBOOK, INSTAGRAM -->
		<!-- <p><a href="#">Link</a></p>
		<p><a href="#">Link</a></p>
		<p><a href="#">Link</a></p> -->
	  </div>
	  <div class="col-sm-7">


			<!-- Display my posts here. -->
				<div *ngFor="let blog of collection" class="panel panel-primary">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left"> {{ blog.title }} </h3>      
              </div>
            <div clas="panel-body">
							<div class="postBody">
									{{ blog.body }}
							</div>	
						</div>
            <div class="panel-footer">
              <strong>Posted by:</strong>&nbsp;&nbsp;{{ blog.author }}
              <br/>
              {{ blog.date | date: 'MMM dd, yyyy'}}
            </div>
            <ul class="list-group clearfix">
                <li class="list-group-item clearfix">
                  <button (click)="draft(blog._id)"  type="button" name="button" class="btn btn-sm btn-danger pull-right">Comment</button>
                  <div class="pull-left">
                      <button [disabled]="username === blog.author" (click)="like(blog._id)" type="button" name="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;{{ blog.likes }}</button>
                    <button [disabled]="username === blog.author" (click)="dislike(blog._id)" type="button" name="button" class="btn btn-sm btn-info "><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;&nbsp;{{ blog.dislikes }}</button>
									</div>





									<br/>
									<br/>
										<div *ngIf="newComment.indexOf(blog._id) > -1">
											<form [formGroup]="commentForm">
												<textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
												<div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
													<ul class="help-block">
														<li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">
															This field is required.
														</li>
														<li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||
																		 (commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">
															Comment cannot be empty and no more than 200 characters long.
														</li>
													</ul>
												</div>
												<button [disabled]="!commentForm.valid || processing" (click)="postComment(blog._id)" type="submit" name="button" class="btn btn-sm btn-info">Post</button>
												<button [disabled]="processing" (click)="cancelComment(blog._id)" type="button" name="button" class="btn btn-sm btn-danger">Cancel</button>
											</form>
										</div>
				
										<li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item"  align="center">
											<span (click)="expand(blog._id)"><div class="glyphicon glyphicon-comment"></div>&nbsp;&nbsp;Show comments</span>
										</li>
				
										<li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item"  align="center">
												<span (click)="collapse(blog._id)"><div class="glyphicon glyphicon-comment"></div>&nbsp;&nbsp;Hide comments</span>
										</li>
				
										<div *ngIf="enabledComments.indexOf(blog._id) > -1">
											<li *ngFor="let comment of blog.comments" class="list-group-item">
												<strong>{{ comment.author }}: </strong> {{ comment.comment }}
											</li>
										</div>

								<!-- </li> -->
								
            </ul>
          </div>

	  </div>
  
  
	  <div class="col-sm-2 well">
		<div class="thumbnail">
		  <p>Upcoming Events:</p>
		  <img src="paris.jpg" alt="Paris" width="400" height="300">
		  <p><strong>Paris</strong></p>
		  <p>Fri. 27 November 2015</p>
		  <button class="btn btn-primary">Info</button>
		</div>      
		<div class="well">
		  <p>ADS</p>
		</div>
		<div class="well">
		  <p>ADS</p>
		</div>
	  </div>
	</div>
  </div>
  
  <footer class="container-fluid text-center">
	<p>Footer Text</p>
  </footer>
  
  