
<div class="page-header">
  <h1 align="center">Discover</h1>
  <h4 align="center">Take a look at what the community has to say.</h4>
</div>

<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<button type="button" name="button" class="btn btn-warning pull-left" *ngIf="newPost" [disabled]="processing" (click)="goBack()"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
<br *ngIf="newPost"/>
<br *ngIf="newPost"/>
<div>
  <button type="button" name="button" class="btn btn-warning pull-left" *ngIf="!newPost" (click)="blogForm()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;New Post</button>
  <button type="button" name="button" class="btn btn-default pull-right" [disabled]="loading" *ngIf="!newPost" (click)="refreshBlogs()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Refresh</button>
</div>
<br/>
<br/>
<br/>
<!-- New Entry -->
<form (submit)="submit()" *ngIf="newPost" [formGroup]="form" name="blogForm">
  <!-- Title -->
  <div class="form-group">
    <label for="title">Title</label>
    <div [ngClass]="{ 'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors }">
      <input type="text" name="title" autofocus="off" autocomplete="off" formControlName="title" class="form-control"/>
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
        <!-- <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength)">A Title is required</li>         -->
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length is 40</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.valid">No special characters allowed.</li>
      </ul>
    </div>
  </div>
  <!-- Body -->
  <div class="form-group">
      <!-- <label for="body">Post</label> -->
      <div [ngClass]="{ 'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors }">
        <textarea class="form-control" formControlName="body" name="body" rows="5" cols="50" placeholder="What do want to say?"></textarea>
        <ul class="help-block">
          <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
          <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength)">Minimum length is 10. </li>  
          <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length is 500.</li>
        </ul>
      </div>
    </div>
    <button class="btn btn-success pull-right" [disabled]="!form.valid || processing" type="submit" name="button"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Submit</button>
</form>


<!-- <div class=""></div> -->
<div *ngIf="!newPost">
  <div *ngFor="let blog of collection" class="panel panel-primary">
    <div class="panel-heading clearfix">
      <!-- <h3 class="panel-title pull-left">Post Title</h3> -->
      <h3 *ngIf="username === blog.author" class="panel-title pull-left" style="padding-top: 1%;"> {{ blog.title }} </h3>
      <h3 *ngIf="username !== blog.author" class="panel-title pull-left"> {{ blog.title }} </h3>      
        <div class="pull-right">
          <a [routerLink]="['/edit/', blog._id]" *ngIf="username === blog.author"><button type="button" name="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Edit</button></a>
          <a [routerLink]="['/delete/', blog._id]" *ngIf="username === blog.author"><button type="button" name="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete</button></a>
          <!-- <a data-toggle="modal" data-target="#deleteModal" *ngIf="username === blog.author"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a> -->
        </div>
      </div>
    <div clas="panel-body">
      <div class="postBody">
          {{ blog.body }}
      </div>
    </div>
    <div class="panel-footer">
      <strong>Posted by:</strong>&nbsp;&nbsp;{{ blog.author }}
      <br/>
      {{ blog.date | date: 'MMM dd, yyyy'}}
    </div>
    <ul class="list-group clearfix">
        <li class="list-group-item clearfix">
          <button (click)="draft(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1" type="button" name="button" class="btn btn-sm btn-danger pull-right">Comment</button>
          <div class="pull-left">
              <button [disabled]="username === blog.author" (click)="like(blog._id)" type="button" name="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;{{ blog.likes }}</button>
            <button [disabled]="username === blog.author" (click)="dislike(blog._id)" type="button" name="button" class="btn btn-sm btn-info "><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;&nbsp;{{ blog.dislikes }}</button>
          </div>
          <br/>
          <br/>
            <div *ngIf="newComment.indexOf(blog._id) > -1">
              <form [formGroup]="commentForm">
                <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
                <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
                  <ul class="help-block">
                    <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">
                      This field is required.
                    </li>
                    <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||
                             (commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">
                      Comment cannot be empty and no more than 200 characters long.
                    </li>
                  </ul>
                </div>
                <button [disabled]="!commentForm.valid || processing" (click)="postComment(blog._id)" type="submit" name="button" class="btn btn-sm btn-info">Post</button>
                <button [disabled]="processing" (click)="cancelComment(blog._id)" type="button" name="button" class="btn btn-sm btn-danger">Cancel</button>
              </form>
            </div>

            <li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item"  align="center">
              <span (click)="expand(blog._id)"><div class="glyphicon glyphicon-comment"></div>&nbsp;&nbsp;Show comments</span>
            </li>

            <li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item"  align="center">
                <span (click)="collapse(blog._id)"><div class="glyphicon glyphicon-comment"></div>&nbsp;&nbsp;Hide comments</span>
            </li>

            <div *ngIf="enabledComments.indexOf(blog._id) > -1">
              <li *ngFor="let comment of blog.comments" class="list-group-item">
                <strong>{{ comment.author }}: </strong> {{ comment.comment }}
              </li>
            </div>
    </ul>
  </div>
</div>

<!-- <div class="modal fade centered-modal" id="deleteModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a small modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div> -->