.logForm{
    width:80%;
    margin:0 auto;
    padding: 10%;
    text-align: center;

    border-style:solid;
    border-color:#1481B1;
    border-radius: 5px;
    /* box-shadow: 10px 10px 5px #888888; */
}
